* {    
    margin: 0;
    padding: 0;
}
.top_menu_link {
    font-family: Roboto;
    color:  #16a085;
    font-size: 18px;
    font-weight: 900;
    margin-right: 78px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 32px;
    display: inline-block;
        
}

.header {
    text-align: center;
    
    
}

.top_bg_img {
    background-color: #f5f6f7;
    background-image: url(../img/top-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 790px;
    margin-top: 25px;
}

.text_1 {
    font-family: Roboto;
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 59px;
}

.text {
    background-color: #f5f6f7;
    padding-bottom: 50px;
}

.text_2 {
    margin-top: 34px;
    margin-bottom: 64px;
    text-align: center;
}

.button {
    width: 192px;
    height: 51px;
    border-radius: 8px;
    border: none;
    background-color:  #16a085;
    text-transform: uppercase;
    font-family: GothamRounded;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin: auto;
    
}

.futer {
    
    font-family: Roboto;
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    margin: 40px auto;
    display: block;
    
    
    
    
}

.text_futer {
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: right
    
    
}

.empty {
    
}
